<title>結婚</title>
<h1>結婚</h1>
<p>結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚</p>
<p>結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚結婚</p>
<table>結婚
  <thead>
    <tr>結婚
      <th>結婚</th>
      <th>結婚</th>
      <th>結婚</th>
    </tr>
  </thead>
  <tbody>
    <%(0..10).each do |row| %>
      <tr>
        <td>結婚</td>
        <td>結婚</td>
        <td>結婚</td>
      </tr>
    <%end%>
  </tbody>
</table>
